@import '~normalize.css';

$color-primary: #02c758;
$color-secondary: #003cfb;
$color-tertiary: #e43f28;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #E0E0E0;
$box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);

input, textarea {
    border-radius: .25rem;
    border: 1px solid $color-gray;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba($color-secondary, .33);
}

input[type="text"], textarea {
    padding: .5rem;
}

input[type="checkbox"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position: relative;

    &:checked {
        color: white;
        background-color: $color-secondary;
    }

    &:checked::before {
        content: '\2713';
        display: block;
        text-align: center;
        color: $color-white;
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    color: $color-white;
    padding: 1rem;
    background-color: $color-black;
    box-shadow: $box-shadow;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.todo-list {
    margin: 4rem 0;
    padding: 0;
    list-style: none;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: $box-shadow;
    border-radius: 1rem;
    margin-bottom: 2rem;

    input[type="checkbox"] {
        margin-right: 2rem;
    }
}

.create-todo {
    padding: 2rem;
    box-shadow: $box-shadow;
    border-radius: 1rem;
}

.create-todo__input-group {
    margin-bottom: 2rem;

    label {
        display: block;
        margin-bottom: .5rem;
    }

    textarea {
        resize: vertical;
    }

    input, textarea {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
}

.button {
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    color: $color-white;
    background-color: $color-secondary;
    border-radius: .25rem;

    &:hover {
        transition: all .2s;
        background-color: lighten($color-secondary, 10%);
    }
}

footer {
    margin-top: 4rem;
    padding: 4rem;
    background-color: $color-gray;
    text-align: center;
}
